* {
  motion: 0;
  padding: 0; }

.site-wrapper {
  width: 100%;
  height: 800px;
  margin: 0 auto 0 auto; }

.container_allheader {
  display: flex;
  flex-direction: column; }

.top-nav {
  display: block;
  float: left;
  width: 100%;
  height: 50px;
  background: #f7f5f5;
  border-bottom: 1px solid #e3e3e3;
  color: #999;
  font-size: 18px;
  z-index: 99; }

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.left-phone {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  .left-phone a .number-phone {
    text-decoration: none;
    color: #727272;
    font-weight: 500;
    padding: 0; }

.right-block {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding: 0; }

.dropdown {
  position: relative; }

.btnlang {
  box-sizing: border-box;
  color: #999;
  margin-left: 0px;
  height: 50px;
  padding: 16px 16px;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
  transition: all 0.5s ease;
  text-transform: uppercase;
  top: 8px;
  text-decoration: none; }

.btnlang:hover, .btnlang.active {
  box-sizing: border-box;
  height: 100%;
  color: #fff;
  background: #e22e25;
  text-decoration: none; }

header {
  display: block;
  top: 48px;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 85px;
  padding-top: 0px; }

.header-container {
  display: flex;
  justify-content: center;
  height: 100px;
  top: 48px;
  width: 57%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.logo {
  float: left;
  width: 25%;
  height: 100%; }
  .logo a {
    text-decoration: none;
    color: #e22e25;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    transition: all 0.7s ease; }
    .logo a:hover {
      color: #5900ff;
      transition: all 0.7s ease;
      text-decoration: none; }

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%; }

.b-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 80%;
  height: 30px; }
  .b-nav li {
    font-weight: 500;
    color: #727272; }
    .b-nav li a {
      text-decoration: none; }

.dropdown {
  cursor: pointer;
  z-index: 9999; }
  .dropdown .after {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #727272;
    font-weight: 500;
    background-color: white;
    padding: 2px; }
    .dropdown .after:hover {
      color: #e22e25; }

.after::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent; }

.dropdown ul {
  list-style: none;
  padding: 0; }

.dropdown-ul {
  box-sizing: border-box;
  width: 120px;
  display: none; }

.dropdown:hover .dropdown-ul {
  display: block;
  margin-top: 5px;
  padding-left: 5px;
  height: auto;
  background: #f7f5f5;
  border: 1px solid #c0bebe; }
  .dropdown:hover .dropdown-ul a {
    text-decoration: none; }

.dropdown-ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none; }

.dropdown-block {
  margin: 0;
  padding: 0;
  width: 60px;
  transition: all 1s ease; }
  .dropdown-block li {
    list-style: none;
    color: #727272; }

.connect {
  width: 120px; }

li a {
  text-decoration: none;
  color: #727272; }
  li a:hover {
    color: #e22e25;
    transition: all 0.7s ease; }

.carousel-inner {
  height: 600px;
  width: 300px; }

.pay-at_home {
  margin-top: 40px;
  position: absolute;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: black;
  z-index: 100;
  font-weight: 700;
  color: white;
  transition-duration: 5s; }
  .pay-at_home p {
    font-weight: normal;
    margin-top: 40px; }

.link-social {
  top: 250px;
  left: -70px;
  position: fixed;
  width: 70px;
  height: 400px;
  z-index: 1000; }

.link-fb, .link-insta, .link-telegram, .link-callback, .link-off {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin-bottom: 2px;
  transition: all 0.5s ease;
  z-index: 1000;
  border-radius: 50%; }
  .link-fb:hover, .link-insta:hover, .link-telegram:hover, .link-callback:hover, .link-off:hover {
    border: 1px solid white;
    border-radius: 50%;
    width: 80px;
    border-radius: 0 10% 10% 0; }

.off {
  color: #e94e4e; }
  .off:hover {
    color: #0a7cff; }

.link-callback {
  margin-top: 15px; }

.link-off {
  position: fixed;
  outline: none;
  outline-offset: -2px;
  margin-top: 30px;
  background: none;
  border: none;
  z-index: 1000; }

.off-arrow {
  display: none;
  color: #e94e4e; }
  .off-arrow:hover {
    color: #0a7cff; }

.on-arrow {
  display: block;
  color: #e94e4e; }
  .on-arrow:hover {
    color: #0a7cff; }

.section-foryou {
  box-sizing: border-box;
  padding-bottom: 100px;
  height: auto;
  background: #f7f5f5; }

.row {
  display: flex;
  justify-content: center;
  width: 100%; }

.title-foryou {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #e22e25;
  padding-top: 20px; }

.md-3 {
  align-items: center;
  background: #fffdfd;
  margin-right: 10px; }

.img-pixelnet {
  width: 80%;
  height: 40%; }

.text-head {
  color: #e22e25;
  font-size: 18px;
  padding-top: 10px; }

.btn-foryou {
  position: absolute;
  top: 90%;
  border: none;
  transition: ease 0.5s all;
  border: 1px solid #e22e25;
  border-radius: 5px;
  padding: 0 4px; }
  .btn-foryou:hover {
    background: #e22e25;
    color: white;
    padding: 5px;
    border-radius: 5px; }

.section-why_we {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: auto; }

.bgd-why_we {
  width: 100%;
  height: 500px;
  z-index: -500; }

.container-why_we {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 500px;
  width: 70%;
  z-index: 500;
  background: black;
  opacity: 0.8; }

.blocks {
  width: 50%;
  padding: 30px;
  color: white; }

.blocks-list {
  list-style: none;
  line-height: 2.5; }
  .blocks-list li::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #e22e25;
    float: left;
    margin: 20px 0px 0px -15px;
    border-radius: 50%;
    border: 5px solid #ff9900; }

.left-part {
  text-align: right; }
  .left-part h1 {
    font-weight: 700;
    font-size: 55px; }

.section-we_pixel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.container-we_pixel {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 70%;
  padding: 20px; }
  .container-we_pixel h2 {
    text-align: center;
    color: #e22e25; }

.img-and_text {
  display: flex;
  margin-top: 10px; }

.we-pixel {
  width: 100%; }

.img-team {
  margin-right: 40px; }

.title {
  display: inline;
  width: 100%;
  top: 58%;
  margin-top: 20px;
  color: #e22e25;
  font-weight: bold; }

.we-pixel_content {
  width: 100%; }

.we-pixel_block__links p {
  text-align: center; }

.block_links {
  display: flex;
  justify-content: center;
  height: 65px;
  margin-top: 10px; }

.wepixel {
  align-items: center;
  width: 90px;
  height: 40px;
  margin-right: 4px;
  transition: all 0.5s ease;
  border-bottom: none; }
  .wepixel:hover {
    height: 60px;
    width: 90px; }

footer {
  width: 100%; }

.footer-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  background: black; }

.footer-block {
  display: flex;
  justify-content: center;
  width: 70%;
  height: auto; }

.footer-block_item {
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  width: 30%; }
  .footer-block_item h4 {
    font-weight: 700;
    margin-bottom: 20px; }
  .footer-block_item ul li {
    list-style: none;
    line-height: 2; }
    .footer-block_item ul li a {
      text-decoration: none; }
